# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
/media/covenciones_es.mp4
/media/covenciones_es_1.gif
/media/festival.mp4